<div class="app-component">
    <h1 class="text-center">Kurzusok</h1>
    <table class="purpleHorizon">
        <!--tr>
            <th *ngFor="let col of tableColumns">
            {{col}}
            </th>
        </tr-->
        <tr *ngFor="let task of tasks" (click)=onSelectTask(task) [class.table-info]="course === selectedCourse">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td *ngIf="selectedTask === task">{{ task.place }}</td>
            <td *ngIf="selectedTask === task">{{ task.price }}</td>
            <td *ngIf="selectedTask === task && task.description !== null">{{ task.description }}</td>
            <button *ngIf="selectedTask === task" mat-button (click)="SubscribeToTask(task)">Jelentkezés</button>
        </tr>
    </table>
</div>